.progressContainer {
  width: 100%;
  padding: 1rem;
}

.categoryButton {
  width: 100%;
  gap: 1rem;
}

.categoryButton.open {
  background-color: #777;
  color: white;
}

.categoryButton.open:hover {
  color: black;
}

.buttons {
  display: flex;
  flex: 1;
  justify-content: end;
}
