.toolbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.menuButton {
  place-self: center start;
}

.updateButton {
  place-self: center end;
}

@media screen and (min-width: 1200px) {
  .menuButton {
    visibility: hidden;
  }
}
