.leftDrawerInner {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.closeButtonWrapper {
  display: flex;
  justify-content: end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.subscriptions {
  flex: 1;
  overflow: auto;
}
