.progressContainer {
  width: 100%;
  padding: 1rem;
}

.siteNameAndLink {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.siteNameAndLink a {
  display: flex;
}

.buttons {
  display: flex;
  flex: 1;
  justify-content: end;
}

.withErrors {
  text-decoration: line-through;
}

.withPermanentErrors {
  text-decoration: overline;
  opacity: 0.5;
}
